.starsContainer {
  position: relative;
}

.star {
  position: absolute;
  background-color: var(--primary-fg);
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 3px 1px var(--primary-fg);
  user-select: none;
  animation-name: twinkle;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    box-shadow: 0;
    transform: scale(.5);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
