plugin/
dein
tags*
.netrwhist
pythonpath.vim
nodepath.vim
autoload/plugged/*
vimspector-config/gadgets/*
paths.vim
session
wiki/
pack/
utils/java/*
lv-config.lua
lua-language-server/
eclipse.jdt.ls/
.language-servers/
.debuggers/
spell/
nv-settings.lua
lv-settings.lua
.stylua.toml
