.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--primary-fg);
  color: var(--primary-bg);
}

.featureSvg {
  height: 200px;
  width: 200px;
}
