/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding-block: 2rem;
  position: relative;
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  min-height: 50vh;
}

.heroTitle {
  display: none;
}

.heroBanner > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 2rem;
  position: relative;
  z-index: 2;
}

.heroContent {
  flex: .45;
  width: 100%;
  max-width: 28rem;
}

.heroImage {
  flex: .55;
}

.heroImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 500px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.buttons > * {
  width: 100%;
}

.slogan::after {
  content: " ▋";
  animation: cursor-blink 2s linear infinite;
}

@keyframes cursor-blink {
  50%{
    opacity: 0;
  }
}

.toggleAnimations {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 3;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  --size: 3rem;
  width: var(--size);
  size: var(--size);
  opacity: .45;
  transition: opacity 300ms ease-in-out;
}

.toggleAnimations:active,
.toggleAnimations:hover {
  opacity: 1;
}

.toggleAnimations > svg {
  width: 100%;
  height: 100%;
}

.toggleAnimations > svg path {
  fill: var(--primary-fg);
}
.toggleAnimations > svg circle {
  stroke: var(--primary-fg);
}


@media screen and (min-width: 996px) {
  .heroTitle {
    display: flex;
  }
  .heroBanner {
    padding: 4rem 0 calc(4rem + 100px);
  }
  .buttons,
  .heroBanner > .container {
    flex-direction: row;
  }
  .buttons > * {
    width: auto;
  }
  .heroImage > img {
    max-width: max-content;
  }
  .heroContent {
    max-width: unset;
  }
}
