.features {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
}

.featureSvg {
  height: 185px;
  width: 185px;
  margin-bottom: 1rem;
}

.container {
  position: relative;
  z-index: 2;
}
